.list {
  margin: 3rem 0;
  list-style: none;
  padding: 3rem;
  border-top: var(--border-bottom-light-grey);
  border-bottom: var(--border-bottom-light-grey);
  display: flex;
  flex-wrap: wrap;
  &__item {
    flex: 0 0 50%;
    margin-bottom: .7rem;

    @media only screen and (max-width: $bp-smallest){
      flex: 0 0 100%;

    }

  }

  &__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 7px;

    //Older browsers
    background-image: url("../../img/chevron-thin-right.svg");
    background-size: cover;

    @supports (-webkit-mask-image: url("../../img/chevron-thin-right.svg")) or (mask-image: url("../../img/chevron-thin-right.svg")) {
      //Newer browsers - masks
      background-color: var(--color-primary);
      -webkit-mask-image: url("../../img/chevron-thin-right.svg");
      -webkit-mask-size: cover;
      mask-image: url("../../img/chevron-thin-right.svg");
      mask-size: cover;
      background-image: none;
    }

  }
}